/* cyrillic-ext */
@font-face {
  font-family: 'Unbounded Light';
  src: url('./Unbounded-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Unbounded Blond';
  src: url('./Unbounded-Blond.woff2') format('woff2');
}
